<style>
    .image:hover{
      transform:  scale(1.1);
      transition: transform 0.5s;  
    }
    .social:hover{
      
      color: blue;
      border-radius: 100px;
      transform: rotate(25deg) scale(1.2);
      transition: transform 0.5s;
    }
    .catagoris img{
      width: 100px;
    }
  </style>